<footer class="footer">
    <nav class="navbar-container navbar">
        <ul class="navbar">
            <li>
                <a href="/" id="logo">Snowtricks</a>
            </li>
        </ul>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/mentions-legales" class="top-link">Mentions légales</a>
            </li>
        </ul>
    </nav>
</footer>