p a {
    color: #0097ff;
    font-weight: 800;
}

.d-n {
    display: none;
}

.m-r-1 {
    margin-right: 1rem;
}

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.navbar {
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .nav-item{
    padding-right: 1rem;
}

.top-link {
    font-weight: 800;
}


.trick-item {
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 9px -2px #b2b2b2;
}

.trick-item-info {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listing_media {
    width: 100%;
}

.tricks-listing-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
}

.form-zone {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .675rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-label {
    padding-bottom: .5rem;
}

.trick-editor-form {
    width:40%;
    margin-left: auto;
    margin-right: auto;
}

.zone-title {
    text-align: center;
    margin-bottom: 2rem;
}

.form-submit {
    text-align: center;
}

.btn {
    background: black;
    color: white;
    padding: 1rem 4rem;
    border-radius: 5px;
}

.trick-show-header {
    text-align: center;
    background-image: url("../images/trick-default.jpg");
    background-size: cover;
    height: 60vh;
    padding-top: 15%;
    margin-bottom: 4rem;
    width: 100%;
}

.trick-show-info {
    width: 70%;
}

.trick-show-metadata {
    margin-top: 2rem;
}

.trick-show-metadata-item {
    background-color: #1e81d2;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    padding: .5rem;
}

.comment-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 75%;
    display: flex;
    flex-direction: column;
}

#trick-show {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
}

#trick-show-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

#trick-show-comments {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#landing-zone {
    text-align: center;
    background-image: url("../images/snowboard-2.jpg");
    background-size: cover;
    height: 60vh;
    padding-top: 15%;
    margin-bottom: 4rem;
}

#landing-zone-text *{
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

#tricks-zone {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

#logo {
    font-weight: 900;
    font-size: 2rem;
}

#security-form {
    display: flex;
    flex-direction: column;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

#userDropdown {
    font-size: 1.75rem;
}

/* flash

/* flash */
.flash {
    max-width: 70%;
    margin: auto;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.flash-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.flash-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.flash-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.flash-other {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.flash-close {
    position: absolute;
    right: 1rem;
    top: 25%;
    background: rgba(0,0,0,0);
}
.flash-close::before {
    font-size: 1.5rem;
    content: 'x';
    color: black;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

.dropdown {
    text-align: left;
    border: 1px solid rgba(0,0,0, 0.1) ;
    line-height: 1.5rem;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    display: none;
}

.dropdown.active {
    display: block!important;
}

@media screen and (max-width: 1024px) {
    .trick-item {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: max-content;
    }
}