<div class="modal-bg fade d-n" id="confirmModal">
    <div class="modal modal-confirm">
        <i class="fas fa-times fs-1c5 float-r" id="closeModalButton"></i>
        <h4 id="modal-title" class="ta-c">Confirmation de suppression</h4>
        <div id="modal-content">
        </div>
    </div>
</div>