<div class="modal-bg fade d-n" id="mediaModal">
    <div class="modal">
        <i class="fas fa-times fs-1c5 float-r" id="closeModalButton"></i>
        <h4 id="modal-title" class="ta-c">Galerie Média</h4>
        <div id="modal-content">
        </div>
    </div>
</div>