<div class="settings-bar-left-item">
    <h3>Paramètres</h3>
</div>
<nav>
    <a class="settings-bar-left-item" href="/settings">
        <i class="fas fa-cog"></i></i>
        <div>
            <h5>Compte</h5>
            <p>Options liées à votre compte utilisateur</p>
        </div>    </a>
    <a class="settings-bar-left-item" href="/settings/profile">
        <i class="fas fa-user-cog"></i>
        <div>
            <h5>Profil</h5>
            <p>Options de modification de votre profil utilisateur</p>
        </div>
    </a>
</nav>