{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Erreur{% endblock %}
{% block body %}
    <div id="landing-zone">
        <div id="landing-zone-text">
            <h1>Erreur {{ exception.statusCode }}</h1>

        </div>
    </div>
<h1>Erreur {{ exception.statusCode }}</h1>
{% endblock %}
